.calculator {
  margin: 50px auto;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button{
    background-color: #1607be; /* Green */
    border: 2px solid #af4c4c;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
  background-color: #009eb3;
}