body{
    background: #171616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container{
      max-width: 320px;
      background-color: #1e1e1e;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      width: 320px;
      display: grid;
      grid-template-rows: 100px auto;
      gap: 20px;
}

.result
{
     display: flex;
     background-color: #2c2c2c;
     color: aliceblue;
     font-size: 36px;
     justify-content: flex-end;
     align-items: flex-end;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 20pxpx rgb(0, 0, 0, 0.5); 
     overflow: auto;
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-bottom: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button{
    background-color: #333;
    color: antiquewhite;
    font-size: 22px;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s ease-in-out;
    box-shadow: 0 2px 4px beige;
}

button:hover
{
    background-color: #555;
}
.plus img
{
    width: 28px;
}

.plus{
    background-color: #000000;
}

.plus:hover{
   background-color: rgb(0, 0, 0);
}

.substract img
{
    width: 33px;
}

.substract{
    background-color: #000000;
}
.substract:hover{
   background-color: rgb(0, 0, 0);
}

.modulus img
{
    width: 28px;
}

.modulus{
    background-color: #000000;
}

.modulus:hover{
   background-color: rgb(0, 0, 0);
}

.divide img
{
    width: 28px;
}

.divide{
    background-color: #000000;
}

.divide:hover{
   background-color: rgb(0, 0, 0);
}


.multiply img
{
    width: 28px;
}

.multiply{
    background-color: #000000;
}

.multiply:hover{
   background-color: rgb(0, 0, 0);
}

.equals img
{
    width: 28px;
}

.equals{
    background-color: #000000;
}

.equals:hover{
   background-color: rgb(0, 0, 0);
}

button:active
{
    transform: scale(0.85);
}



.delete img
{
    width: 28px;
}

.delete{
    background-color: #000000;
}

.delete:hover{
   background-color: rgb(0, 0, 0);
}

.all-clear img
{
    width: 28px;
}

.all-clear{
    background-color: #000000;
}

.all-clear:hover{
   background-color: rgb(0, 0, 0);
}


button:active
{
    transform: scale(0.85);
}